body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #161620;
    color: #b0b0cd;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-style: italic;
}

.about,
.skills,
.contact {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .image-container {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .img {
        width: 300px;
        height: 400px;
        border-radius: 5px;
        background-image: url(img/najidhs.art2024111.jpg);
        background-size: 100%;
    }
}
.img {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-image: url(img/najidhs.art2024111.jpg);
    background-size: 100%;
}

.about h2,
.skills h2,
.contact h2 {
    color: #1c1d24;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #161620;
    color: #b0b0cd;
}